[alias]
	configwork = !git config user.name \"Jason Pickens\" && git config user.email \"jason@geneious.com\"
	confighome = !git config user.name \"Jason Pickens\" && git config user.email \"jasonpickensnz@gmail.com\"
	last = log -1 --stat
	cp = cherry-pick
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[push]
	default = matching
[core]
	trustctime = false
	editor = vim
	filemode = false
	autocrlf = false
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = bc
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
	keepBackup = false
[user]
	signingkey = 886F0CE43A3697F8CD5FF3FECCE5AF9811ACDCE4
[diff]
	tool = bc
[difftool "bc"]
	path = C:\\Program Files\\Beyond Compare 4\\BComp.exe
[difftool]
	prompt = false
[mergetool "bc"]
	path = C:\\Program Files\\Beyond Compare 4\\BComp.exe
